*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    display: grid;
    grid-template-columns: 100px 100px;
    grid-template-rows: 100px 100px;
    height: 500px;
    justify-content: center;
    align-content: center;
    gap: 20px;
        
}
.item{
    background-color: #afed09;
    display: grid;
    justify-content: end;
    align-content: end;
}
p{
    width: 30px;
    height: 50px;
    background-color: #66b922;
   
}
.green{
    width: 30px;
    height: 50px;
    background-color: #3c6d0f;
    display: grid;
    justify-content: center;
}
